/* Container */
.signup-container {
  display: flex;
  height: 100vh;
  font-family: Arial, sans-serif;
  position: relative;
  background-image: url("./src/assets/bg.jpg");
  background-size: cover;
}

/* SIGNUP LOGO */
.logo-contain {
  display: flex;
  align-items: center;
  gap: 10px;
  position: absolute;
  top: 25px;
  left: 30px;
}

.logo-icon {
  height: 40px;
  width: auto;
}

.logo-text {
  height: 28px;
  width: auto;
}


/* Left Section */
/* LEFT SECTION IMAGE */
.left-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.signup-image {
  margin-top: 100px;
  width: 100%;
  max-width: 420px;
  height: auto;
  margin-bottom: 30px;
  object-fit: contain;
}


.login-btn {
  background: white;
  color: #222;
  padding: 10px 25px;
  border-radius: 25px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}
.login-btn:hover {
  background: #f0f0f0;
}
.login-btn a{
  text-decoration: none;
  color: #222;
}

/* Right Section */
.right-section {
  flex: 2;
  background: #f8f9fa;
  padding: 40px;
  margin: 50px 20px 50px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top-left-radius:100px;
  border-bottom-left-radius:100px;
}

.toggle-buttons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.toggle-btn {
  background: #e0e0e0;
  border: none;
  padding: 8px 18px;
  margin-left: 5px;
  border-radius: 20px;
  cursor: pointer;
  font-weight: bold;
}

.toggle-btn.active {
  background: #007bff;
  color: white;
}

.form-title {
  font-size: 24px;
  margin-bottom: 20px;
  text-align: left;
  color:#2d4063;
}

.signup-form {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

.signup-form input,
.signup-form select {
  flex: 1;
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 14px;
}



.register-btn {
  background: #2a3256;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  margin-top: 15px;
}
.register-btn:hover {
  background: #0056b3;
}
.register-btn a{
  text-decoration: none;
  color: white;
}
.otp {
  display: flex;
  gap: 10px;
}
.otp input {
  flex: 2;
}
.send-otp-btn {
  flex: 1;
  padding: 10px;
  background: #17b4d0;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

.error-message {
  color: red;
  font-size: 14px;
  margin-top: -12px;
}

.login-link {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  font-size: 14px;
}
.login-link a {
  color: #007bff;
  text-decoration: none;
}
.login-link a:hover {
  text-decoration: underline;
}
